In [24]:
import numpy as np
import pandas as pd

In [43]:
df = pd.read_csv('Final-50-stocks.csv')
df.head()

,DATE,TATASTEEL,WIPRO,TITAN,ULTRACEMO,TECHM,RELIANCE,SHREECEM,SUNPHARMA,TATAMOTORS,...,BPCL,BRITANNIA,ADANIPORTS,BAJAJFINSERV,BAJAJFINANCE,BHARTIARTL,AXISBANK,BAJAJ-AUTO,ASIANPAINT,UPL
0,2010-01-11,591.90,423.70,3792.50,6737.95,735.60,1093.20,2116.10,2190.70,1170.60,...,754.80,413.15,NaN,467.25,798.60,335.30,1513.60,1530.75,2705.05,NaN
1,2010-01-12,613.55,414.70,3781.90,5443.70,671.15,988.80,2094.10,448.65,1286.75,...,697.95,410.30,NaN,481.65,713.30,350.55,1424.45,1571.20,2680.40,NaN
2,2010-02-11,599.05,433.85,3818.70,6735.25,724.55,1074.85,2164.55,2190.45,1154.25,...,772.75,413.60,NaN,472.10,806.40,329.25,1526.60,1548.75,2792.80,NaN
3,2010-02-12,622.75,426.05,3784.20,5368.40,676.35,1011.15,2022.35,452.90,1320.15,...,685.80,412.45,NaN,484.35,741.85,346.10,1455.35,1574.30,2651.85,NaN
4,2010-03-11,609.60,434.70,3833.05,6858.65,732.50,1065.30,2261.40,2249.30,1185.55,...,765.60,415.75,NaN,480.15,799.25,328.40,1536.10,1582.35,2694.90,NaN

In [44]:
dff = df.copy()

In [47]:
for i in range(1,df.shape[0]):
    for j in range(1,df.shape[1]):
        dff.iloc[i,j] = df.iloc[i,j] - df.iloc[i-1,j]

In [50]:
dff.drop(0,axis=0,inplace=True)

In [51]:
dff

,DATE,TATASTEEL,WIPRO,TITAN,ULTRACEMO,TECHM,RELIANCE,SHREECEM,SUNPHARMA,TATAMOTORS,...,BPCL,BRITANNIA,ADANIPORTS,BAJAJFINSERV,BAJAJFINANCE,BHARTIARTL,AXISBANK,BAJAJ-AUTO,ASIANPAINT,UPL
1,2010-01-12,21.65,-9.00,-10.60,-1294.25,-64.45,-104.40,-22.00,-1742.05,116.15,...,-56.85,-2.85,NaN,14.40,-85.30,15.25,-89.15,40.45,-24.65,NaN
2,2010-02-11,-14.50,19.15,36.80,1291.55,53.40,86.05,70.45,1741.80,-132.50,...,74.80,3.30,NaN,-9.55,93.10,-21.30,102.15,-22.45,112.40,NaN
3,2010-02-12,23.70,-7.80,-34.50,-1366.85,-48.20,-63.70,-142.20,-1737.55,165.90,...,-86.95,-1.15,NaN,12.25,-64.55,16.85,-71.25,25.55,-140.95,NaN
4,2010-03-11,-13.15,8.65,48.85,1490.25,56.15,54.15,239.05,1796.40,-134.60,...,79.80,3.30,NaN,-4.20,57.40,-17.70,80.75,8.05,43.05,NaN
5,2010-03-12,4.95,-7.10,-136.60,-1315.20,-63.55,-59.40,-247.30,-1804.40,129.15,...,-91.75,-16.85,NaN,6.55,-79.30,17.20,-129.95,17.80,-24.85,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2706,2021-10-05,491.85,99.25,-16.10,5388.70,-18.25,-255.75,-245.85,72.20,-6.60,...,8.20,-66.55,229.65,1340.55,-47.55,46.70,-45.50,1.10,125.00,53.30
2707,2021-10-06,-101.90,28.30,283.50,306.55,74.40,256.80,915.85,-22.15,29.90,...,29.85,162.50,81.30,661.10,588.90,-27.40,29.00,311.25,393.65,164.10
2708,2021-10-08,259.15,49.60,60.55,764.50,258.15,-94.95,-1108.15,117.30,-50.55,...,-38.85,60.90,-153.75,2043.40,83.70,77.05,17.30,-381.95,26.55,-67.60
2709,2021-10-13,-19.30,68.75,738.00,-123.75,79.10,606.90,698.05,49.20,212.70,...,13.95,246.50,66.00,4151.75,1759.20,67.70,33.05,169.70,346.35,-23.65
2710,2021-10-14,20.75,35.65,26.85,45.10,28.65,5.45,140.75,-1.25,-9.30,...,0.65,11.15,53.80,300.65,-66.40,-4.10,7.45,-1.75,-25.70,0.40

In [53]:
stacks = dff.columns.tolist()

In [54]:
new_df = pd.DataFrame()

In [74]:
for col in stacks :
    if col =='DATE':
        continue
    new_df.loc[0,col] = np.abs(dff[col]).sum(axis=0) / dff[col].notna().sum()

In [75]:
new_df

,TATASTEEL,WIPRO,TITAN,ULTRACEMO,TECHM,RELIANCE,SHREECEM,SUNPHARMA,TATAMOTORS,TCS,...,BPCL,BRITANNIA,ADANIPORTS,BAJAJFINSERV,BAJAJFINANCE,BHARTIARTL,AXISBANK,BAJAJ-AUTO,ASIANPAINT,UPL
0,32.58548,18.626771,75.547841,255.957251,65.026937,56.053616,594.595221,42.446384,29.878118,84.375664,...,34.255203,125.201882,25.594431,270.061494,255.865535,18.141513,54.927509,92.556218,111.979207,34.333299